environment/tater-api/helm/secrets/production.properties
environment/tater-api/production-credentials.txt
environment/tater-db/samples/*-tmp.sql

.DS_Store
target/

**/.mvn/wrapper/maven-wrapper.jar

**/.idea/*
!**/.idea/**/workspace.xml
!**/.idea/**/tasks.xml
